@keyframes burst3 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 45px)) scale(0);
  }
}
@keyframes burst4 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(calc(-50% - 35px), calc(-50% - 25px)) scale(0);
  }
}
@keyframes burst5 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(calc(-50% - 40px), -50%) scale(0);
  }
}
@keyframes burst6 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(calc(-50% - 35px), calc(-50% + 25px)) scale(0);
  }
}
@keyframes burst7 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 45px)) scale(0);
  }
}
@keyframes burst8 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(calc(-50% + 35px), calc(-50% + 25px)) scale(0);
  }
}
@keyframes burst9 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(calc(-50% + 28px), calc(-50% + 28px)) scale(0);
  }
}
@keyframes burst10 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(calc(-50% - 28px), calc(-50% + 28px)) scale(0);
  }
}
@keyframes burst11 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(calc(-50% - 28px), calc(-50% - 28px)) scale(0);
  }
}
@keyframes burst12 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(calc(-50% + 28px), calc(-50% - 28px)) scale(0);
  }
}
